<!-- <embed src="file_name.pdf" width="800px" height="2100px" /> -->

<!-- https://www.youtube.com/watch?v=hz_u1qv6P64 -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-5">        
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">FORMATO</th>
                        <th scope="col">DESCARGA</th>
                        
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Formato 8A</td>
                        <td><button class="btn btn-primary" (click)="makePDF()">descargar</button></td>
                        
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Formato 16A</td>
                        <td><button class="btn btn-primary" (click)="makePDF()">descargar</button></td>
                        
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Formato Presupuesto</td>
                        <td><button class="btn btn-primary" (click)="makePDF()">descargar</button></td>
                        
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Cubicaciones Informativas</td>
                        <td><button class="btn btn-primary" (click)="makePDF()">descargar</button></td>
                        
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>Todos</td>
                        <td><button class="btn btn-primary" (click)="makePDF()">descargar</button></td>
                        
                    </tr>
                    
                </tbody>
            </table>
            
        </div>
    <div id="content" #content class="col-md-5 text-right "
    >
        <img src="assets/img/tipo8a.jpg" class="img-thumbnail" width="200" height="200"/> 
        
    </div>
</div>


