<ul class="nav nav-tabs" 
    >
    <li class="nav-item mr-3">
        <a href='DetalleObra.aspx?id=31'> 
            <i class='fa fa-table'></i>
            Detalle
        </a>
    </li>
    
    <li class="nav-item mr-3">  
        <a href='Cprecios.aspx?id=31'> 
            <i class='fa fa-list-ol'></i> 
            CPrecios
        </a>
    </li>
    <li class="nav-item mr-3">  
        <a href='Programacion.aspx?id=31'> 
            <i class='fa fa-calendar'></i> 
            Programación</a>
    </li>
    <li class="nav-item mr-3"
    >  
        <a [routerLink]="['/dashboard/modificacion/balance']">
            <i class='fa fa-pencil-square-o'></i> 
            Modificaciones
        </a>
    </li>
    
    <li class="nav-item mr-3" >  
        <a href='#'> 
            <i class='fa fa-money'></i>  
            Estados de Pago
        </a>
    </li>
</ul>

<br>

<img src="assets/img/detalle.jpg"/> 

