<button class="btn btn-primary btn-block" (click)="onPrintInvoice()">Print</button>



<h2>SUGERENCIAS PARA NORMALIZACIÓN:</h2>
<ul>CAMBIAR “DESCUENTOS” POR “MULTAS”</ul>
<ul>PROFORMAS, GASTOS GENERALES Y LIQUIDACIONES PARA NORMALIZACIÓN</ul>

<h2>ALCANCE PARA CONTROL Y GESTIÓN:</h2>
LINEA PROGRAMACIÓN ANCLA – LINEA PROGRAMACIÓN – LINEA GASTO REAL
<ul>INFORMACIÓN RELEVANTE A PROPUESTAS CONSIDERA EL ANCLA Y FECHAS DE PROGRAMACIÓN: ENFOCADO A LA META DE PROGRAMACIÓN, CONOCER SI UNA OBRA ESTÁ ASOCIADA ALGUNA META, Y QUE SE PUEDA CLASIFICAR Y CONTROLAR ESTA MISMA.</ul>
<ul>MODIFICACIONES DE CONTRATO</ul>
<ul>RESUMEN EJECUTIVO DE UN CONTRATO</ul>
<ul>INTEGRAR SISTEMA DE CONTROL Y GESTIÓN CON NORMALIZACIÓN, PROGRAMACIÓN MENSUAL, QUE ESTÉ AVOCADO A LA META DEL GASTO DEL SUBTÍTULO 31.</ul>
<ul>MÓDULO DE REUNIONES: GENERAR BASES PARA  MINUTAS RE REUNIÓN: DEBERÍA PERMITIR INGRESAR TEXTO, SELECCIONAR PARTICIPANTES  Y ENVIAR NOTIFICACIÓN + TEXTO A LOS DISTINTOS PARTICIPANTES</ul>
<ul>CUANDO SE GENERA UN MEMORANDUM SOLICITANDO AUTORIZACION PARA LICITAR, REGISTRAR EL NUMERO Y FECHA.</ul>
<ul>META DESVIACION DE MONTOS: CONSISTE EN LIQUIDAR CONTRATOS QUE TERMINARON HACE DOS AÑOS ATRÁS. REQUIERE LIQUIDACIÓN DEL CONTRATO.
    
    <li>1)	ACTA DE RECEPCIÓN EN PDF.</li>
    <li>2)	INFORME DE BUEN COMPORTAMIENTO.</li>    
</ul>
