<nav class="card">
    <br>
    <!-- *** 1 *** -->
    <div class="form-check form-switch">
        <input class="js-switch" data-size="small" data-color="#009efb" type="checkbox" id="mostrarTodo">
        <label class="form-check-label" for="mostrarTodo">Mostrar todo</label>
    </div>
    <!-- *** 2 *** -->
    <div class="form-check form-switch">
        <input class="js-switch" data-size="small" data-color="#009efb" type="checkbox" id="campamentos">
        <label class="form-check-label" for="campamentos">Asentamientos Prec.</label>
    </div>
    <!-- *** 3 *** -->
    <div class="form-check form-switch">
        <input class="js-switch" data-size="small" data-color="#009efb" type="checkbox" id="parques">
        <label class="form-check-label" for="parques">Conservación de parques</label>
    </div>
    <!-- *** 4 *** -->
    <div class="form-check form-switch">
        <input class="js-switch" data-size="small" data-color="#009efb" type="checkbox" id="FESV">
        <label class="form-check-label" for="FESV">FESV</label>
    </div>
    <!-- *** 5 *** -->
    <div class="form-check form-switch">
        <input class="js-switch" data-size="small" data-color="#009efb" type="checkbox" id="infSanitaria">
        <label class="form-check-label" for="infSanitaria">infSanitaria</label>
    </div>
    <!-- *** 6 *** -->
    <div class="form-check form-switch">
        <input class="js-switch" data-size="small" data-color="#009efb" type="checkbox" id="pavipart">
        <label class="form-check-label" for="pavipart">pavipart</label>
    </div>
    <!-- *** 7 *** -->
    <div class="form-check form-switch">
        <input class="js-switch" data-size="small" data-color="#009efb" type="checkbox" id="PUE">
        <label class="form-check-label" for="PUE">PUE</label>
    </div>
    <!-- *** 8 *** -->
    <div class="form-check form-switch">
        <input class="js-switch" data-size="small" data-color="#009efb" type="checkbox" id="PUI">
        <label class="form-check-label" for="PUI">PUI</label>
    </div>
    <!-- *** 9 *** -->
    <div class="form-check form-switch">
        <input class="js-switch" data-size="small" data-color="#009efb" type="checkbox" id="Barrios">
        <label class="form-check-label" for="Barrios">Barrios</label>
    </div>
    <!-- *** 10 *** -->
    <div class="form-check form-switch">
        <input class="js-switch" data-size="small" data-color="#009efb" type="checkbox" id="EEPP">
        <label class="form-check-label" for="EEPP">EEPP</label>
    </div>
    <!-- *** 11 *** -->
    <div class="form-check form-switch">
        <input class="js-switch" data-size="small" data-color="#009efb" type="checkbox" id="vUrbana">
        <label class="form-check-label" for="vUrbana">vUrbana</label>
    </div>
    <!-- *** 12 *** -->
    <div class="form-check form-switch">
        <input class="js-switch" data-size="small" data-color="#009efb" type="checkbox" id="planValpo">
        <label class="form-check-label" for="planValpo">planValpo</label>
    </div>
</nav>
