<!-- Stats box -->
<!-- ============================================================== -->
<div class="row">
    
        
    <!-- CONTRATOS EN EJECUCIÓN  -->
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <div class="card-body">
                    <h4 class="card-title">Adjudicaciones Obras</h4>
                    <div class="text-right"> <span class="text-muted"></span>
                        <h1 class="font-light"><sup><i class="ti-arrow-up text-success"></i></sup> 2 contratos</h1>
                    </div>
                    <span class="text-success">100%</span>
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 100%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CONTRATOS BAJO PROGRAMA -->
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <div class="card-body">
                    <h4 class="card-title">Adj. Consultorías</h4>
                    <div class="text-right"> <span class="text-muted"></span>
                        <h1 class="font-light"><sup><i class="ti-arrow-up text-success"></i></sup> 1 contratos</h1>
                    </div>
                    <span class="text-success">100%</span>
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 100%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CONTRATOS BAJO PROGRAMA -->
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <div class="card-body">
                    <h4 class="card-title">Gasto Ejecutado ( M$ / MES )</h4>
                    <div class="text-right"> <span class="text-muted"></span>
                        <h1 class="font-light"><sup><i class="ti-arrow-up text-success"></i></sup> $14.660.874</h1>
                    </div>
                    <span class="text-success">100,12%</span>
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 100%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>