<!-- <embed src="file_name.pdf" width="800px" height="2100px" /> -->

<!-- https://www.youtube.com/watch?v=hz_u1qv6P64 -->

<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    
        
            <div class="card">
                <div class="row">
                    <div class="col-xlg-2 col-lg-3 col-md-4">
                        
                            
                            <h3 class="card-title">Tipos de Avisos</h3>
                            <div class="list-group b-0 mail-list"> 
                                <a href="#" class="list-group-item">
                                    <span class="fa fa-circle text-info m-r-10"></span>
                                    Adjudicaciones
                                </a> 
                                <a href="#" class="list-group-item">
                                <span class="fa fa-circle text-warning m-r-10"></span>
                                Informes Técnicos</a> 
                                <a href="#" class="list-group-item">
                                    <span class="fa fa-circle text-purple m-r-10"></span>
                                    Modificaciones
                                </a> 
                                <a href="#" class="list-group-item">
                                    <span class="fa fa-circle text-danger m-r-10"></span>
                                    Otros 1
                                </a> 
                                <a href="#" class="list-group-item">
                                    <span class="fa fa-circle text-success m-r-10"></span>
                                    Otros 2
                                </a> 
                            
                        </div>
                    </div>
                    
                    <div class="col-xlg-10 col-lg-9 col-md-8 bg-light-part b-l">
                        
                        <div class="card-body p-t-0">
                            <div class="card b-all shadow-none">
                                <div class="inbox-center table-responsive">
                                    <table class="table table-hover no-wrap">
                                        <tbody>
                                            <tr class="unread">
                                                <td style="width:40px">
                                                    
                                                </td>
                                                <td style="width:40px" class="hidden-xs-down"></td>
                                                <td class="hidden-xs-down">Propuestas</td>
                                                <td class="max-texts"> <span class="label label-info m-r-10">Adj.</span> El contrato LP 020/2021 ha sido adjudicado (Res. Ex. 155-XXXX de fecha XX-XX-XXXX)</td>
                                                <td class="hidden-xs-down"></td>
                                                <td class="text-right"> 12:30 PM </td>
                                            </tr>
                                            
                                            <tr class="unread">
                                                <td>
                                                    
                                                </td>
                                                <td class="hidden-xs-down"></td>
                                                <td class="hidden-xs-down">Propuestas</td>
                                                <td class="max-texts"><a href="app-email-detail.html"><span class="label label-danger">Otros</span> Lorem ipsum perspiciatis unde omnis iste natus error sit voluptatem</a></td>
                                                <td class="hidden-xs-down"></td>
                                                <td class="text-right"> May 12 </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    
                                                </td>
                                                <td class="hidden-xs-down"></td>
                                                <td class="hidden-xs-down">Costos Urbanos</td>
                                                <td class="max-texts"><a href="app-email-detail.html"><span class="label label-warning">Inf. Tec.</span> Lorem ipsum perspiciatis unde omnis iste natus error sit voluptatem</a></td>
                                                <td class="hidden-xs-down"></td>
                                                <td class="text-right"> May 12 </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    
                                                </td>
                                                <td class="hidden-xs-down"></td>
                                                <td class="hidden-xs-down">Propuestas</td>
                                                <td class="max-texts"><a href="app-email-detail.html"><span class="label label-info m-r-10">Adj.</span> El contrato LP 020/2021 ha sido adjudicado (Res. Ex. 155-XXXX de fecha XX-XX-XXXX)</a></td>
                                                <td class="hidden-xs-down"></td>
                                                <td class="text-right"> May 12 </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    
                                                </td>
                                                <td class="hidden-xs-down"></td>
                                                <td class="hidden-xs-down">Pavipart</td>
                                                <td class="max-texts"><a href="app-email-detail.html"><span class="label label-success">Otros 2.</span> Lorem ipsum perspiciatis unde omnis iste natus error sit voluptatem</a></td>
                                                <td class="hidden-xs-down"></td>
                                                <td class="text-right"> May 11 </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    
                                                </td>
                                                <td class="hidden-xs-down"></td>
                                                <td class="hidden-xs-down">Propuestas</td>
                                                <td class="max-texts"><a href="app-email-detail.html"><span class="label label-warning">Inf. Tec.</span> Lorem ipsum perspiciatis unde omnis iste natus error sit voluptatem</a></td>
                                                <td class="hidden-xs-down"></td>
                                                <td class="text-right"> May 11 </td>
                                            </tr>
                                            
                                            
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
    
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    

<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->


    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="../assets/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="../assets/plugins/bootstrap/js/popper.min.js"></script>
    <script src="../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="js/perfect-scrollbar.jquery.min.js"></script>
    <!--Wave Effects -->
    <script src="js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="../assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <script src="../assets/plugins/sparkline/jquery.sparkline.min.js"></script>
    <!--Custom JavaScript -->
    <script src="js/custom.min.js"></script>
    <!-- ============================================================== -->
    <!-- Style switcher -->
    <!-- ============================================================== -->
    <script src="../assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>
