<!-- Projects of the month -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-lg-7 col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div>
                        <h4 class="card-title"><span class="lstick"></span>Proyectos del Mes</h4></div>
                    <div class="ml-auto">
                        <select class="custom-select b-0">
                            <option value="1">Enero 2021</option>
                            <option value="2">Febrero 2021</option>
                            <option value="3">Marzo 2021</option>
                            <option value="4">Abril 2021</option>
                            <option selected="5">Mayo 2021</option>
                            <option value="6">Junio 2021</option>
                            <option value="7">Julio 2021</option>
                            <option value="8">Agosto 2021</option>
                            <option value="9">Septiembre 2021</option>
                            <option value="10">Octubre 2021</option>
                            <option value="11">Noviembre 2021</option>
                            <option value="12">Diciembre 2021</option>
                        </select>
                    </div>
                </div>
                <div class="table-responsive m-t-20">
                    <table class="table vm no-th-brd no-wrap pro-of-month">
                        <thead>
                            <tr>
                                <th >Programa</th>
                                <th>Nombre Proyecto</th>
                                <th>Meta</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                
                                <td>
                                    <h6>Pavipart</h6></td>
                                <td>30° Llamado Comuna de Cabildo</td>
                                <td><span class="label label-primary label-rounded">sin meta</span></td>
                            </tr>
                            <tr class="active">
                                
                                <td>
                                    <h6>Espacios Públicos</h6></td>
                                <td>Ejemplo 1</td>
                                <td><span class="label label-info label-rounded">Meta 1</span></td>
                            </tr>
                            <tr>
                                
                                <td>
                                    <h6>Vialidad Urbana</h6></td>
                                <td>Ejemplo 2</td>
                                <td><span class="label label-primary label-rounded">sin meta</span></td>
                            </tr>
                            <tr>
                                
                                <td>
                                    <h6>Proyectos Integrales</h6></td>
                                <td>Ejemplo 3</td>
                                <td><span class="label label-info label-rounded">Meta 1</span></td>
                            </tr>
                            
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <div class="col-lg-5">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"><span class="lstick"></span> Feeds</h4>
                <ul class="feeds">
                    <li>
                        <div class="bg-light-inverse"><i class="fa fa-bell-o"></i></div> LP050/2021 Adjudicada <span class="text-muted">Justo Ahora</span></li>
                    <li>
                        <div class="bg-light-success"><i class="ti-server"></i></div> Inf. Técnico 182-10 iniciado<span class="text-muted">Hace 2 horas</span></li>
                    <li>
                        <div class="bg-light-inverse"><i class="fa fa-bell-o"></i></div> LP05/2021 inicio de obra <span class="text-muted">27 Mayo</span></li>
                    <li>
                        <div class="bg-light-inverse"><i class="fa fa-bell-o"></i></div> LP018/2020 finalizada <span class="text-muted">27 Mayo</span></li>
                    <li>
                        <div class="bg-light-primary"><i class="ti-server"></i></div> Res 1028 20/05/2021 firmada <span class="text-muted">27 Mayo</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
