<h5>Antecedentes programación Ancla</h5><hr>
    

<div class="container-fluid">
    <div class="row">
        <aside class="col-m2">
            <app-sidebar-programa></app-sidebar-programa>
        </aside>
        <div class="col-md-9">
            <app-grafico1></app-grafico1>
        </div>
    </div>
</div>

<h5>Programación Ancla</h5>
<ul>

    <li>ID                  </li>
    <li>NUMERO BIP         </li>
    <li>REGION = 5           </li>
    <li>NUEVO O ARRASTRE    </li>
    <li>LINEA DE INVERSIÓN    </li>
    <li>NOMBRE INICIATIVA      </li>
    <li>ETAPA               </li>
            
</ul>

<ul>

    <li>FECHA RS                  </li>
    <li>FECHA IDENTIFICACION         </li>
    <li>FECHA LICITACION           </li>
    <li>FECHA ADJUDICACION    </li>
    <li>FECHA INICIO OBRA    </li>
    <li>FECHA TERMINO      </li>
    <li>OBSERVACION / COMENTARIO               </li>
            
</ul>

